<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="http://cdn.uapps.org/style-v2.css" type="text/css" />
	<link rel="stylesheet" href="http://cdn.uapps.org/syntax.css" type="text/css" />
	<link rel="icon" href="http://cdn.uapps.org/icon.png" type="image/png" />
	<meta name="author" content="Linus Sjögren <thelinx@unreliablepollution.net" />
</head>
<div id="header">
	<h1><a href="/">{{ page.title }}</a></h1>
	<p class="header"><a href="http://github.com/TheLinx/SocialLua">Fork me!</a></p>
</div>
<div id="cont">
	{{ content }}
</div>
</body>
</html>
